.mainbut {
	-moz-box-shadow:inset 0px 0px 50px 50px #ffffff;
	-webkit-box-shadow:inset 0px 0px 50px 50px #ffffff;
	box-shadow:inset 0px 0px 50px 50px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
	background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
	background-color:#ededed;
	-webkit-border-top-left-radius:15px;
	-moz-border-radius-topleft:15px;
	border-top-left-radius:15px;
	-webkit-border-top-right-radius:15px;
	-moz-border-radius-topright:15px;
	border-top-right-radius:15px;
	-webkit-border-bottom-right-radius:15px;
	-moz-border-radius-bottomright:15px;
	border-bottom-right-radius:15px;
	-webkit-border-bottom-left-radius:15px;
	-moz-border-radius-bottomleft:15px;
	border-bottom-left-radius:15px;
	text-indent:-5px;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#777777;
	font-family:Verdana;
	font-size:15px;
	font-weight:bold;
	font-style:italic;
	height:40px;
	line-height:20px;
	width:100px;
	text-decoration:none;
	text-align:center;
	text-shadow:0px 0px 0px #ffffff;
	border: 1;
	outline: 0;
}
.mainbut:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
	background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
	background-color:#dfdfdf;
}
.mainbut:active {
	position:relative;
	top:1px;
}

/* page 버튼 */
.mainbut_page {
	-moz-box-shadow:inset 0px 0px 50px 50px #ffffff;
	-webkit-box-shadow:inset 0px 0px 50px 50px #ffffff;
	box-shadow:inset 0px 0px 50px 50px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
	background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
	background-color:#ededed;
	-webkit-border-top-left-radius:15px;
	-moz-border-radius-topleft:15px;
	border-top-left-radius:15px;
	-webkit-border-top-right-radius:15px;
	-moz-border-radius-topright:15px;
	border-top-right-radius:15px;
	-webkit-border-bottom-right-radius:15px;
	-moz-border-radius-bottomright:15px;
	border-bottom-right-radius:15px;
	-webkit-border-bottom-left-radius:15px;
	-moz-border-radius-bottomleft:15px;
	border-bottom-left-radius:15px;
	text-indent:-5px;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#777777;
	font-family:Verdana;
	font-size:15px;
	font-weight:bold;
	font-style:italic;
	height:40px;
	line-height:20px;
	width:40px;
	text-decoration:none;
	text-align:center;
	text-shadow:0px 0px 0px #ffffff;
	border: 1;
	outline: 0;
}
.mainbut_page:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
	background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
	background-color:#dfdfdf;
}

.mainbut_page:active {
	position:relative;
	top:1px;
}



	
	
