<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>KH_SecondPJ</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <servlet>
	  <servlet-name>MemberController</servlet-name>
	  <servlet-class>Controller.MemberController</servlet-class>
  </servlet>
  <servlet-mapping>
	  <servlet-name>MemberController</servlet-name>
	  <url-pattern>/MemberController</url-pattern>
  </servlet-mapping>
  
  <servlet>
	  <servlet-name>QAController</servlet-name>
	  <servlet-class>Controller.QAController</servlet-class>
  </servlet>
  <servlet-mapping>
	  <servlet-name>QAController</servlet-name>
	  <url-pattern>/QAController</url-pattern>
  </servlet-mapping>
  
  <servlet>
	  <servlet-name>ReserveController</servlet-name>
	  <servlet-class>Controller.ReserveController</servlet-class>
  </servlet>
  <servlet-mapping>
	  <servlet-name>ReserveController</servlet-name>
	  <url-pattern>/ReserveController</url-pattern>
  </servlet-mapping>
  
  <servlet>
	  <servlet-name>PdsController</servlet-name>
	  <servlet-class>Controller.PdsController</servlet-class>
  </servlet>
  <servlet-mapping>
	  <servlet-name>PdsController</servlet-name>
	  <url-pattern>/PdsController</url-pattern>
  </servlet-mapping>
  
</web-app>